<div class="container">
  <div class="col-8">
  <h2>マイページ</h2>
  <div class="row">
  <h5>登録情報</h5>
   <%= link_to "編集する", customers_edit_path, class:"btn btn-success ml-5" %>
  </div><br>
  <table class="table table-bordered">
      <tbody>
       <tr>
       <td>氏名</td>
       <td><%= current_end_user.last_name %> <%= current_end_user.first_name %></td>
       </tr>
       <tr>
       <td>カナ</td>
       <td><%= current_end_user.last_name_kana %> <%= current_end_user.first_name_kana %></td>
       </tr>
       <tr>
       <td>郵便番号</td>
       <td><%= current_end_user.postal_code %></td>
       </tr>
       <tr>
       <td>住所</td>
       <td><%= current_end_user.address %></td>
       </tr>
       <tr>
       <td>電話番号</td>
       <td><%= current_end_user.phone_number %></td>
       </tr>
       <tr>
       <td>メールアドレス</td>
       <td><%= current_end_user.email%></td>
       </tr>
       </tbody>
    </table>
    <div class="row">
    <h3>配送先</h3>
    <%= link_to "一覧を見る", addresses_path, class:"btn btn-success ml-5"%>
    </div><br>
    <div class="row">
    <h3>注文履歴</h3>
    <a href="#" class="btn btn-success ml-5">一覧を見る</a>
    </div>
</div>